*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color:darkolivegreen;
    background-image: url("bg3.png");
    background-repeat: repeat;
}


.content {
    color: white;
    padding-top: 100px;
    min-height: 250px;
    text-align: center;

}

.discription {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    line-height: 46px;
    color: #e0e0e0;
}

.summary {
    color: #d9dee2;
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 1.5em;
}

.button {
    text-decoration: none;
    display: inline;
    border: 2px solid white;
    padding: 10px;
    max-width: 200px;
    color: white;
    background-color:transparent;
    border-radius: 3px;
    margin-top: 50px;
}



.article {
    margin-top: 20px;
    background-color:cornflowerblue;
}

.article h1 {
    color: black;
    margin-left: 250px;
    padding-top: 40px;
}

.article h2 {
    margin-left: 250px;
}

.article h2 a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.article p {
    margin: 20px 0px;
    padding: 0px 250px;
    font-size: 1.3em;
}